<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="strCon" connectionString="SERVER=sql.bsite.net\MSSQL2016;USER=okaiamfai123_;PASSWORD=123456;DATABASE=okaiamfai123_" providerName="System.Data.SqlClient"/>
    <add name="WindowsFormsApp1.Properties.Settings.okaiamfai123_ConnectionString" connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=okaiamfai123_;User ID=okaiamfai123_;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
